
//
// VARIABLES
//
$mastheadBackground: #202020;
$mainColor: #287572;
$lighterMainColor: #63BCB8;
$accentColorMain: #A74D4B;
$accentColorSecondary: #F56462;

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$header-font: 'Sanchez', sans-serif;
$body-font: 'Sanchez', serif;
// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

/* RGB */
$color1: rgba(27, 38, 79, 1);
$landingAccent: rgba(215, 38, 56, 1);
$landingText: rgba(255, 255, 255, 1);
$landingBack: rgba(23, 29, 28, 1);
$color5: rgba(34, 51, 59, 1);
// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
